@page "/catalogos"

@*@attribute [Authorize]*@

<section class="container mt-3">
    <div class="row">
        <div class="col-md-12 my-3">
            <h2 class="text-black-50 text-center"><i class='bx bx-home p-2'></i>Administrar Catálogos</h2>
        </div>
        <div class="col-md-3 mb-4" style="max-width: 20rem;">
            <div class="shadow d-flex justify-content-center align-items-center p-3 bg-white rounded-lg flex-column">
                <div class="icon-name">
                    <h4 class="text-info">Artículos</h4>
                </div>
                <div class="icon-img">
                    <img src="/css/Icon/tarea-completada.png" width="70" height="70" class="img-fluid my-4" alt="img 1" />
                </div>
                <a href="/categorias" class="btn btn-outline-info w-100">Administrar</a>
            </div>
        </div>
        <div class="col-md-3 mb-4" style="max-width: 20rem;">
            <div class="shadow d-flex justify-content-center align-items-center p-3 bg-white rounded-lg flex-column">
                <div class="icon-name">
                    <h4 class="text-info">Material</h4>
                </div>
                <div class="icon-img">
                    <img src="/css/Icon/buscar.png" width="70" height="70" class="img-fluid my-4" alt="img 1" />
                </div>
                <a href="/materialCatalogo" class="btn btn-outline-info w-100">Administrar</a>
            </div>
        </div>
        <div class="col-md-3 mb-4" style="max-width: 20rem;">
            <div class="shadow d-flex justify-content-center align-items-center p-3 bg-white rounded-lg flex-column">
                <div class="icon-name">
                    <h4 class="text-info">Talla</h4>
                </div>
                <div class="icon-img">
                    <img src="/css/Icon/xxl.png" width="70" height="70" class="img-fluid my-4" alt="img 1" />
                </div>
                <a href="/tallaCatalogo" class="btn btn-outline-info w-100">Administrar</a>
            </div>
        </div>
        <div class="col-md-3 mb-4" style="max-width: 20rem;">
            <div class="shadow d-flex justify-content-center align-items-center p-3 bg-white rounded-lg flex-column">
                <div class="icon-name">
                    <h4 class="text-info">Tamaño</h4>
                </div>
                <div class="icon-img">
                    <img src="/css/Icon/tamano-de-fuente.png" width="70" height="70" class="img-fluid my-4" alt="img 1" />
                </div>
                <a href="/tamañoCatalogo" class="btn btn-outline-info w-100">Administrar</a>
            </div>
        </div>
        <div class="col-md-3 mb-4" style="max-width: 20rem;">
            <div class="shadow d-flex justify-content-center align-items-center p-3 bg-white rounded-lg flex-column">
                <div class="icon-name">
                    <h4 class="text-info">Categoria Persona</h4>
                </div>
                <div class="icon-img">
                    <img src="/css/Icon/usuarios.png" width="70" height="70" class="img-fluid my-4" alt="img 1" />
                </div>
                <a href="/CategoriaPersonaCatalogo" class="btn btn-outline-info w-100">Administrar</a>
            </div>
        </div>
        <div class="col-md-3 mb-4" style="max-width: 20rem;">
            <div class="shadow d-flex justify-content-center align-items-center p-3 bg-white rounded-lg flex-column">
                <div class="icon-name">
                    <h4 class="text-info">Numeración</h4>
                </div>
                <div class="icon-img">
                    <img src="/css/Icon/cuenta-regresiva.png" width="70" height="70" class="img-fluid my-4" alt="img 1" />
                </div>
                <a href="/numeracionCatalogo" class="btn btn-outline-info w-100">Administrar</a>
            </div>
        </div>
    </div>
    </section>

@*<section class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="box shadow py-3 px-3 justify-content-center align-items-center">
                        <h3 class="text-success py-2">Categorias</h3>
                        <img  src="/css/Icon/categorias.png" width="50" height="50"  class="img-fluid shadow" alt="image 1"/>
                    <button type="button" class="btn btn-outline-success">Administrar</button>
                </div>
            </div>
        </div>
 </section>*@